<div class="input-wrapper">
	<% if @user.errors[:password].any? %>
		<% @user.errors[:password].each do |message| %>
			<%= f.label :password, "Password -> #{message}" %>
		<% end %>
	<% else %>
		<%= f.label :password %>
	<% end %>
	<br>
	<%= f.password_field :password %>
</div>
<br>
<div class="input-wrapper">
	<% if @user.errors[:password_confirmation].any? %>
		<% @user.errors[:password_confirmation].each do |message| %>
			<%= f.label :password_confirmation, "Password confirmation -> #{message}" %>
		<% end %>
	<% else %>
		<%= f.label :password_confirmation %>
	<% end %>
	<br>
	<%= f.password_field :password_confirmation %>
</div>
