<div class="home">
	<p>Recent Posts<%= link_to "View All", posts_path %></p>
	<%= link_to "Languages", languages_path %>
	<br>
	<% @posts.each do |post| %>
		<div class="post-display-wrapper">
			<p><%= post.language.name %> - <%= post.title %>
				<% if logged_in? && post.user == current_user %>
					<%= link_to "Edit", edit_users_post_path(post.user.slug, post) %>
				<% else %>
					<%= link_to post.user.username, user_path(post.user.slug) %>
				<% end %>
			</p>
			<pre class="content"><%= post.content %></pre>
			<pre><%= post.description %></pre>
		</div>
	<% end %>
</div>
