<% @posts.each do |post| %>
	<div class="post-display-wrapper">
		<p><%= post.language.name %> - <%= post.title %>
			<%= conditional_link_to_for(post) %>
		</p>
		<pre class="content"><%= post.content %></pre>
		<pre><%= post.description %></pre>
	</div>
<% end %>
