<!DOCTYPE html>
<html>
  <head>
    <title>Code-Note</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="layout-header">
      <h1>Code-Note</h1>
      <ul>
	    <% if logged_in? %>
		    <li><a href="/signout">Sign Out</a></li>
	    <% else %>
		    <li><a href="/users/new">Create Account</a></li>
		    <li><a href="/signin">Sign In</a></li>
	    <% end %>
      <li><a class="right" href="<%= root_path %>">Home</a></li>
      </ul>
    </header>

    <%= yield %>

  </body>

</html>
